<div class="container mt-3 h-100">
    <div class="row pt-5">
        <div class="col-lg-12 col-md-6 tex-center">
            <h1 class="text-center">AioEvent</h1>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-lg-6 pt-4 img">
            <%= image_tag('Zoobirthday.jpg', class: 'img-fluid') %>
        </div>
        <div class="col-lg-6 pt-4">
            <p class="jargon pt-0">Siapapun bisa membuat event impiannya dengan mudah</p>
            <p class="jargon-2 pt-3">Buat eventmu dengan para EO terpercaya di AioEvent</p>
            <div class="col-lg-12 text-center pt-4">
                <button type="button" class="btn btn-primary buttonBox" data-toggle="modal" data-target="#exampleModalCenter">Saya tertarik</button>
            </div>
        </div>

        <%= render 'form', user: @user %>
    </div>

    <div class="row pt-5 text-center">
        <div class="col-md-4">
            <i class="fas fa-handshake" style="font-size:2.5rem"></i>
            <h3>Lorem Ipsum</h3>
            <p class="text-left"> Shabby chic put a bird on it seitan, chartreuse activated charcoal gochujang four dollar toast mumblecore chambray umami shoreditch +1 readymade whatever 8-bit. Squid etsy scenester farm-to-table. Tattooed tousled cray +1 ugh, etsy sustainable
                flexitarian vexillologist actually.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-birthday-cake" style="font-size:2.5rem"></i>
            <h3>Lorem Ipsum</h3>
            <p class="text-left"> Shabby chic put a bird on it seitan, chartreuse activated charcoal gochujang four dollar toast mumblecore chambray umami shoreditch +1 readymade whatever 8-bit. Squid etsy scenester farm-to-table. Tattooed tousled cray +1 ugh, etsy sustainable
                flexitarian vexillologist actually.</p>
            </p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-gift" style="font-size:2.5rem"></i>
            <h3>Lorem Ipsum</h3>
            <p class="text-left"> Shabby chic put a bird on it seitan, chartreuse activated charcoal gochujang four dollar toast mumblecore chambray umami shoreditch +1 readymade whatever 8-bit. Squid etsy scenester farm-to-table. Tattooed tousled cray +1 ugh, etsy sustainable
                flexitarian vexillologist actually.</p>
            </p>
        </div>
    </div>
</div>


<!-- <%= link_to 'Back', users_path %>
    <%= link_to 'About',about_path%> -->